<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <title>Cocafe</title>
</head>
<body>
<div id="app"></div>
<script>
    window.deployConf = {
        platform: "<%= htmlWebpackPlugin.options.deployConf.platform %>",
        page: "<%= htmlWebpackPlugin.options.deployConf.page %>",
        mode: "<%= htmlWebpackPlugin.options.deployConf.mode %>",
        ver: "<%= htmlWebpackPlugin.options.deployConf.ver %>"
    }
</script>
</body>
</html>